## OOPS concept in python

In [ ]:
#global variable
#local variable

#polymorphism
#inheritence
#encapsulation
#abstraction

In [1]:
class class_name:
    pass
# class_name >>>>>>> class Name
# pass >>>>> placeholder
# class is a keywords

In [4]:
class student:
    name ="abhinav" ## class variable
    age =20 ## class variable
    print(f"my name is {name} and my age is {age}")
obj_student = student()

my name is abhinav and my age is 20

In [5]:
obj_student.name

'abhinav'

In [6]:
obj_student.age

20

In [1]:
class student:
    name = "abhinav"
    age = 20
    def info(self):  ### info is method and self is parameter ya object keyword
        print("this is my first method")
        print("how are you all")
dt_obj=student()

In [2]:
dt_obj.info()

this is my first method
how are you all

In [3]:
class student:
    name = "abhinav"
    age = 20
    def info(self):  ### info is method and self is parameter ya object keyword
        print(f"my name is {self.name} and my age is {self.age}")
dt_obj = student()

In [4]:
dt_obj.info()

my name is abhinav and my age is 20

## Inheritence
types of inheritence
* single inheritence
* multiple inheritence
* multilevel inheritence
* hierarchical inheritence
* hybrid inheritence

In [16]:
# class college :
#     pass

# class student:
#     pass

* single inheritence

In [17]:
class collage:
    pass
class student(collage):
    pass

In [18]:
class collage:
    collage_name = "JECRC"
    collage_address ="sitapura"
class student(collage):
    student_name ="abhinav"
    student_id = "005"
st_obj = student()
print(st_obj.collage_name)
print(st_obj.collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

JECRC
sitapura
abhinav
005

In [ ]:
### multiple inheritence 
class Father:
    father_name="vinod"
    father_id= "234"
class uncle:
    uncle_name="rahul"
class child(Father, uncle):
    pass

obj_child=child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

vinod
234
rahul

In [3]:
# multilevel inheritence
class grandfather:
    grandfather_name="radhe"
    grandfather_age= 78
class father(grandfather):
    father_name="vinod"
    father_age=45
class you(father):
    pass

obj_child=you()

print(obj_child.grandfather_name)
print(obj_child.grandfather_age)
print(obj_child.father_name)
print(obj_child.father_age)

radhe
78
vinod
45

### polymorphism

In [26]:
print("hello")

hello

In [27]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [28]:
type(lst)

list

In [3]:
tpl=(1,2,3,4,5)
print(tpl)

(1, 2, 3, 4, 5)

In [4]:
type(tpl)

tuple

### encapsulation

In [ ]:
# private 
# public 
# protected

class student:
    __name= "abhinav"## private variable
    age =20 ## public
    _id ="1234" ## protected variable 
st_obj = student()

In [6]:
st_obj.age

20

In [ ]:
st_obj._student__name ## accessing private variable using class name

'abhinav'

In [10]:
st_obj._id

'1234'

## task

In [17]:
class bank:
    __account_no ="387468247673" ## private 
    holder_name ="abhinav"
    address = "jaipur"
    phone_number = "6378551175"
    ## method
    def total_balance (self):
        self.balance =int(input("enter total balance: "))
        print(f"your account number is: {self.__account_no}")
        print(f"your total balance is :{self.balance}")
id=bank()

In [18]:
print("your name is ",id.holder_name)
print("your address is",id.address)
print("your phone number is",id.phone_number)
id.total_balance()

your name is  abhinav
your address is jaipur
your phone number is 6378551175
your account number is: 387468247673
your total balance is :1654556

## task 1. Study about super function about its use also
## task 2.Project-BMI calculator by usingÂ class

In [19]:
## constructor
## init method 
# __init__ method


class student:
    def __init__(self):
        pass

In [20]:
### calling
class student:
    def __init__(self):
        pass
student()

In [3]:
class student:
    def __init__(self,name, age):
        self.name= name
        self.age =age ## instance variable

obj_st =student (name="abhinav" ,age=20)

obj_st.name

'abhinav'

In [4]:
obj_st.age

20

In [27]:
print(obj_st.name)
print(obj_st.age)

abhinav
20

In [10]:
class student:
    def __init__(self, name, age, address):
        self.name =name
        self.age =age
        self.address= address

    def display(self):
        print(f"my name is {self.name} and my age is {self.age} and my address is {self.address}")

obj_st =student(name="abhinav", age =20, address="jaipur")

In [11]:
obj_st.display()

my name is abhinav and my age is 20 and my address is jaipur

In [ ]:
# class bank:
# constructor
# init method
# __init__
# account number private
# name
# address
# phone number
# method
# deposit
# withdraw
# total balance

In [12]:
class bank:
    def __init__(self , name, address ,phone_number ,account_number):
        self.name=name
        self.address=address
        self.__account_number = account_number
        self.phone_number = phone_number
    def deposit(self):
        self.dep=int(input("enter the deposit:"))
        print(f"amount deposit: {self.dep}")
    def withdraw(self):
        self.withd =int(input("enter the withdraw:"))
        print(f"amount withdraw: {self.withd}")

    def balance(self):
        print(f"current balance is: {self.dep-self.withd}")

obj_bn= bank(name="abhinav",address="jaipur",phone_number=6378551175 , account_number="8743687634")

In [13]:
obj_bn.deposit()
obj_bn.withdraw()
obj_bn.balance()

amount deposit: 50000
amount withdraw: 4000
current balance is: 46000